
<table>
<tr><th>id</th><th>name</th></tr>
<% @ballot_drop_locations.each do |bdl| %>
<tr>
  <td><%=h bdl.state.name %></td>
  <td><%= link_to bdl.id , bdl %></td>
  <td><%= link_to bdl.name, bdl %></td>
</tr>
<% end %>
</table>
