<h1>Editing precinct_split</h1>

<% form_for(@precinct_split) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @precinct_split %> |
<%= link_to 'Back', precinct_splits_path %>
