table.maptable { 
  border: 1px solid black;
  border-collapse: collapse;
}

table.maptable td {
  border: 2px solid #bbbbbb; 
}

label {
  width: 100px; 
}

div#map_div {
  float: left;
  clear: both; 
  margin-top: 25px;
}

div#maptable {
  float:left;
  clear:none;
  width:300px;
  margin-left:5px;
  /*position:relative;*/
}

div#lookup_form {
  border: 1px solid ; 
  margin-top: 20px; 
  margin-bottom:20px; 
  width: 300px; 
  border-color: #326a80;
  background-color: #d2ecf7;
  float:left;
/*  position:relative;*/
}
