<% if @source %>
<%= link_to @source.name, @source %>
<% end %>
<table>
<tr><th>id</th><th>date</th><th>type</th></tr>
<% @elections.each do |e| %>
<tr>
  <td><%=h e.id %></td>
  <td><%= link_to e.date, e %></td>
  <td><%= link_to e.type, e %></td>
</tr>
<% end %>
</table>
