<html>
<head>
<title>NOI</title>
</head>
<body>
</body>
</html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>New Organizing Institute</title>
<%= stylesheet_link_tag "style" %>
<link rel=STYLESHEET
	href="http://www.neworganizing.com/styles.css" 
	type="text/css">
	
<script language="javascript">
<!-- hide from older browsers

if (document.images){
img7on=new Image();
img7on.src="http://www.neworganizing.com/images/home-on.gif";
img7off=new Image();
img7off.src="http://www.neworganizing.com/images/home-off.gif";
img1on=new Image();
img1on.src="http://www.neworganizing.com/images/about-on.gif";
img1off=new Image();
img1off.src="http://www.neworganizing.com/images/about-off.gif";
img2on=new Image();
img2on.src="http://www.neworganizing.com/images/getinvolved-on.gif";
img2off=new Image();
img2off.src="http://www.neworganizing.com/images/getinvolved-off.gif";
img3on=new Image();
img3on.src="http://www.neworganizing.com/images/events-on.gif";
img3off=new Image();
img3off.src="http://www.neworganizing.com/images/events-off.gif";
img4on=new Image();
img4on.src="http://www.neworganizing.com/images/partners-on.gif";
img4off=new Image();
img4off.src="http://www.neworganizing.com/images/partners-off.gif";
img5on=new Image();
img5on.src="http://www.neworganizing.com/images/blog-on.gif";
img5off=new Image();
img5off.src="http://www.neworganizing.com/images/blog-off.gif";
img6on=new Image();
img6on.src="http://www.neworganizing.com/images/contact-on.gif";
img6off=new Image();
img6off.src="http://www.neworganizing.com/images/contact-off.gif";
img8on=new Image();
img8on.src="http://www.neworganizing.com/images/apply-on.gif";
img8off=new Image();
img8off.src="http://www.neworganizing.com/images/apply-off.gif";
}
function imgOn(imgName){
if (document.images){
document[imgName].src=eval(imgName+"on.src");
}
}
function imgOff(imgName){
if (document.images){
document[imgName].src=eval(imgName+"off.src");
}
}

//-->
</script>
<style type="text/css">
<!--
.style1 {font-style: italic}
.style2 {
	color: #000000;
	font-weight: bold;
}
-->
</style>

</head>

<body leftmargin="0" rightmargin="0" bottommargin="0" topmargin="0" marginheight="0" 

marginwidth="0">

<!-- start header -->
<table cellpadding="0" cellspacing="0">
<tr>
	<td width="208"><a href="http://www.neworganizing.com/"><img 

src="http://www.neworganizing.com/images/noi-logo.gif" width="138" height="71" alt="New Organizing 

Institute" hspace="30" vspace="20" border="0"></a></td>
	<td><img src="http://www.neworganizing.com/images/states.gif" width="474" height="60" 

hspace="5" vspace="10" ></td>
</tr>
</table>
<table width="100%" height="13" style="background-image: 

url(http://www.neworganizing.com/images/shadow.gif); background-repeat: repeat" cellpadding="0" 

cellspacing="0">
<tr>
	<td></td>
</tr>

</table>
<!-- end header -->

<!-- start sidebar -->
<table cellpadding="0" cellspacing="0">
<tr>
	<td width="208" valign="top" align="center"><br><br>
<table bgcolor="#00adef" cellpadding="10" cellspacing="1">
<tr>
<td bgcolor="#ffffff" class="sidebar" width="150">
<img src="http://neworganizing.com/images/getinvolved.png" width="150" height="15" alt="immediate needs"><br>
<br>
<!--<div class="sidebartitle"><a href="apply.php">Apply for a training </a></div>
We're accepting applications now for our first Feb. 24 - Mar. 4 training. <br>
<br>-->


<br />
<div class="sidebartitle"><a href="http://salsa.democracyinaction.org/o/1095/content.jsp?content_KEY=4149">NOI Organizers Summits</a></div>
Attend one of our trainings this summer in a city or state near you!<br />

<br />

<div class="sidebartitle"><a href="http://neworganizing.com/jobs.php">NOI Jobs List</a></div>
The best resource for job opportunities in the field of online organizing.<br />
<br />

<div class="sidebartitle"><a href="http://neworganizing.com/blog">Blog</a></div>
Discuss with other trainers, participants and supporters on the NOI blog.<br />
<br />
<!--<div class="sidebartitle"><a href="/wiki">Wiki</a></div>
Help build the NOI wikis: the Encyclopedia of New Organizing; Best Practices guides; and resource pages.<br>
<br>
<div class="sidebartitle"><a href="http://www.democracyinaction.org/dia/organizationsORG/neworganizing/signUp.jsp?key=1404">Help develop the curriculum </a></div>
Developing the NOI curricula is an open process. All experienced online organizers are invited to help build the curriculum. 
<br>-->
<div class="sidebartitle"><a href="https://secure.democracyinaction.org/dia/organizations/neworganizing/shop/custom.jsp?donate_page_KEY=1532">Donate to NOI!</a></div>

NOI is a growing organization with a vital role in reimagining progressive politics - and we need your support!<br />
<br />

<div class="sidebartitle">Contact us</div>
<a href="mailto:info@neworganizing.com">info@neworganizing.com</a><br><br>
<form name="form1" id="form1" action="http://www.democracyinaction.org/dia/api/process.jsp">
<input type="hidden" name="organization_KEY" value="1095">
<input type="hidden" name="table" value="supporter">
  <div class="sidebartitle">Sign up for NOI news </div>
  <input type="text" name="Email" onFocus="doClear(this)"><br>
    <input type="hidden" name="redirect" value="http://www.neworganizing.com/contact.php">

<br /><input type=image src="http://neworganizing.com/images/submit.gif" alt="Submit" border="0" vspace="0"></form>
	 <p><img src="images/blue.gif" width="150" height="1" vspace="10"><br>
         <img src="http://neworganizing.com/images/useful.gif" width="150" height="15" alt=""><br>
         <br>
         <a href="http://neworganizing.com/aboard.php">Advisory board </a><br />
         The NOI has an advisory board of online organizers who have achieved results for campaigns and organizations, as well as some from other political and organizational fields. </p>

<p><a href="http://neworganizing.com/noistory.php">The NOI Story</a><br />

From idea to the definitive training program in online organizing: how NOI came into existence</p>

	 <!--<p><a href="talkingpoints.php">Talking points</a><br>
	   Want to talk up the NOI? Here are the main ideas to get across.
	   <br>
            <br>
			
     <a href="faq.php">Trainee FAQ</a><br>
	   Everything you want to know and are about to ask... 
	   <br>
	        <br>-->
          </p></td>
</tr>
</table>
</td>
<!-- end sidebar -->
<td width="700" valign="top">
<!-- start navigation -->
<table cellpadding="0" cellspacing="0">
<tr>

<td><a href="http://www.neworganizing.com/index.php"><img name="img7" src="http://www.neworganizing.com/images/home-on.gif" 

border="0" alt="home" hspace=0 vspace=0></a>

<a href="http://www.neworganizing.com/about.php" onClick="return true" onMouseOver="imgOn('img1')" 

onMouseOut="imgOff('img1')"><img name="img1" src="http://www.neworganizing.com/images/about-off.gif" 

border="0" alt="about us" hspace=0 vspace=0></a>
<a href="http://www.neworganizing.com/getinvolved.php" onClick="return true" onMouseOver="imgOn('img2')" 

onMouseOut="imgOff('img2')"><img name="img2" 

src="http://www.neworganizing.com/images/getinvolved-off.gif" border="0" alt="get involved" hspace=0 

vspace=0></a>

<a href="http://www.neworganizing.com/events.php" onClick="return true" onMouseOver="imgOn('img3')" 

onMouseOut="imgOff('img3')"><img name="img3" 

src="http://www.neworganizing.com/images/events-off.gif" border="0" alt="events" hspace=0 

vspace=0></a>
<a href="http://www.neworganizing.com/partners.php" onClick="return true" onMouseOver="imgOn('img4')" 

onMouseOut="imgOff('img4')"></a>
<a href="http://www.neworganizing.com/contact.php" onClick="return true" onMouseOver="imgOn('img6')" 

onMouseOut="imgOff('img6')"><img name="img6" 

src="http://www.neworganizing.com/images/contact-off.gif" border="0" alt="contact" hspace=0 

vspace=0></a>
<a href="http://www.neworganizing.com/apply.php" onClick="return true" onMouseOver="imgOn('img8')" 

onMouseOut="imgOff('img8')"><img name="img8" src="http://www.neworganizing.com/images/apply-off.gif" 

border="0" alt="apply" hspace=0 vspace=0></a></td>
</tr>
<tr>
<td><img src="http://www.neworganizing.com/images/grey.gif" width="100%" height="1" hspace="0" 

vspace="1"></td>
</tr>
</table>
<!-- start body copy -->
<%= yield %>
<!-- TemplateEndEditable -->
</td>
</tr>
<tr><td colspan="2" align="right">

<br>
<img src="http://neworganizing.com/images/blue.gif" width="500" height="1"><br>
<br>
<div class="small" align="center"><!--Creative Commons License--><a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" border="0" src="http://creativecommons.org/images/public/somerights20.png"/></a><br/>This work is licensed under a <br /><a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike2.5 License</a>.<!--/Creative Commons License--><!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
		<Work rdf:about="">
			<license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
		</Work>
		<License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction"/><permits rdf:resource="http://web.resource.org/cc/Distribution"/><requires rdf:resource="http://web.resource.org/cc/Notice"/><requires rdf:resource="http://web.resource.org/cc/Attribution"/><permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/><requires rdf:resource="http://web.resource.org/cc/ShareAlike"/></License></rdf:RDF> --><p><p><a href="mailto:info@neworganizing.com">info@neworganizing.com</a></div>
<br>

</tr>
</td>
</table>
</body>

</html>

